// Colors
$black: #231F20;
$white: #ffffff;
    $white-muted: #959d9d;
$grey: #808285;
	$grey--darkest: #3d3e3f;
    $grey--dark: #58595b;
    $grey--light: #f2f2f2;
    $grey--medium: #D8D8D8;

// Brand Colors
$orange: #f05b42;
$blue: #39c6d1;
$yellow: #fddd58;
$slate: #2b3a3a;
$green: #6cc991;
$red: #F25A3B;

// Errors and Success    
$error: #ed5b4c;
$success: #51bf88;
