/**

-----------------------------------------------------
  base/_colors.scss
-----------------------------------------------------

**/

$black: #000000;
$grey: #808285;
$white: #FFFFFF;

// Brand Colors
$orange: orange;
$blue: blue;
$red: red;
