/**

-----------------------------------------------------
  base/_colors.scss
-----------------------------------------------------

**/

$black: #000000;
$grey: #808285;
$white: #FFFFFF;
$gold: #CE9B50;
$red: #FF0000;