/**

-----------------------------------------------------
  elements/_body.scss
-----------------------------------------------------

**/

body {
    font-size: .625em;
    height: 100%;
    line-height: 1.5em;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}