/**

-----------------------------------------------------
  elements/_links.scss
-----------------------------------------------------

**/

a {
    color: $orange;
    text-decoration: none;
    &.white {
        color: $white;
    }
    &.subsidiary {
        color: $grey;
    }
}

body {
  -webkit-tap-highlight-color: rba(0, 0, 0, .35);
}